/* rem and em do not depend on html font-size in media queries!
Instead, 1rem = 1em =16px */

/* ********************* */
/*  BELOW 1344px(Smaller desktops)*/
/* ********************* */
@media(max-width: 84em){
    .hero{
        max-width: 120rem;
    }
    .heading-primary{
        font-size: 4.8rem;
    }
    .gallery{
      grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width: 79rem){
  html{
    font-size: 55%;
  }
}

/* ********************* */
/*  BELOW 1200px(Landscape Tablets) */
/* ********************* */

@media(max-width: 75em){
  html{
    font-size: 60%;
  }
  .grid{
    column-gap: 4.4rem;
    row-gap: 6.4rem;
  }
  .heading-secondery{
    font-size: 3.6rem;
  }
  .heading-tertiary{
    font-size: 2.4rem;
  }
  .header{
    padding: 0 3.2rem;
  }
  .hero{
    gap: 4.8rem;
  }
  .Testimonials-container{
    padding: 9.6rem 3.2rem;
  }
  .main-nav-list{
    gap: 3.2rem;
  }
}
@media(max-width: 70rem){
  html{
    font-size: 50%;
  }
}
/* ********************* */
/*  BELOW 944px(Tablets) */
/* ********************* */

@media(max-width: 65em){
  html{
    font-size: 40%;
  }
  .hero{
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }
  .hero-text-box,
  .hero-img-box{
    text-align: center;
  }
  .hero-img{
  width: 60%;
  }
  .delivered-meals{
    justify-content: center;
    margin-top: 3.2rem;
  }
  .logos img{
    height: 2.4rem;
  }
  .step-number{
  font-size: 7.4rem;
  }
  .section-testimonails{
    grid-template-columns: 1fr ;
  }
  .gallery{
      grid-template-columns: repeat(6,1fr);
    }
    .cta{
      grid-template-columns: 3fr 1fr;
    }
    .cta-form{
      grid-template-columns: 1fr;
    }
    .btn--form{
      margin-top: 1.2rem;
    }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav{
    display: block;
    z-index: 9999;
  }
  .main-nav{
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
    transition: all .5s ease-in;
    opacity: 1;
    /* Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* Hide it from screen readers */
    visibility: none;
  }
  .nav-open .main-nav{
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-open .icon-mobile-nav[name="close-outline"]{
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"]{
    display: none;
  }
  .main-nav-list{
    flex-direction: column;
    gap: 4.8rem;
  }
  .header {
    position: relative;
  }

  .btn-mobile-nav {
    display: block;
    position: absolute;
    right: 3.2rem; 
    top: 50%;
    transform: translateY(-50%); 
    z-index: 999; 
  }
  .main-nav-link:link,
  .main-nav-link:visited{
    font-size: 3rem;
  }
}

/* ********************* */
/*  BELOW 704px(smaller Tablets) */
/* ********************* */

@media (max-width:44em) {
  .grid--4-cols,
  .grid--3-cols{
     grid-template-columns: repeat(2,1fr);
  }
  .feature{
    margin-left: 10px;
  } 
  .diets{
    grid-column: 1/-1;
    justify-self: center;
  }
  .heading-secondery{
    margin-bottom: 2.4rem
  }
  .section-featuerd{
    padding-bottom: 6.2rem;
  }
  .subheading{
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .step-number{
    margin-top: 20px;
  }
  .section-pricing{
    margin: 0 12px;
  }
  .pricing-plan{
    width: 100%;
    padding: 2.4rem;
  }
  .self-align{
    gap: 20px ;
    /* padding: 100px; */
  }
  .grid--footer {
  display: grid;
  grid-template-columns:  repeat(6,1fr);
  }
  .nav-col{
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem ;
  }
  .logo-col,.address-col{
    grid-column: span 3;
  }
  .copyright{
  margin-top: 3.7rem;
  }
}
/* ********************* */
/*  BELOW 544px*(Phones) */
/* ********************* */
@media (max-width:34em) {
  .grid{
    row-gap: 4.8rem;
  }
  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols{
    grid-template-columns: 1fr;
  }
  .btnn,
  .btn:link,
  .btn:visited{
    padding: 2.4rem 1.6rem;
  }
  .section-hero{
   padding: 2.4rem 0 6.4rem 0;

  }
  .hero{
    padding: 0 3.2rem;
  }
  .hero-img{
    width: 80%;
  }
  .logos img{
    height: 1.2rem;

  }
  .step-img-box:nth-child(2){
    grid-row: 1;
  }
  .step-img-box:nth-child(6){
    grid-row: 5;
  }
  .step-img-box{
    transform: translateY(2.4rem);
  }
  .Testimonials{
    grid-template-columns: 1fr;
  }
  .pricing-plan{
    padding: 0;
  }
  .gallery{
    grid-template-columns: repeat(4,1fr);
    gap: 1.2rem;
  }
  .cta{
    grid-template-columns: 1fr;
  }
  .cta-text-box{
    padding: 3.2rem;
  }
  .cta-img-box{
    height: 32rem;
    grid-row: 1;
  }
}
/* 
 - SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* ********************* */
/*  fixing Safari flexbox gap */
/* ********************* */

.no-flexbox-gap .main-nav-list li:not(:last-child) {
  margin-right: 4.8rem;
}

.no-flexbox-gap .list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.no-flexbox-gap .list-icon:not(:last-child) {
  margin-right: 1.6rem;
}

.no-flexbox-gap .delivered-faces {
  margin-right: 1.6rem;
}

.no-flexbox-gap .meal-attribute:not(:last-child) {
  margin-bottom: 2rem;
}

.no-flexbox-gap .meal-icon {
  margin-right: 1.6rem;
}

.no-flexbox-gap .footer-row div:not(:last-child) {
  margin-right: 6.4rem;
}

.no-flexbox-gap .social-links li:not(:last-child) {
  margin-right: 2.4rem;
}

.no-flexbox-gap .footer-nav li:not(:last-child) {
  margin-bottom: 2.4rem;
}

@media (max-width: 75em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 3.2rem;
  }
}

@media (max-width: 59em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
}